body{
 background: url(../img/wolf.jpg) no-repeat center fixed};
 -webkit-bakcground-size cover;
 background-size: cover;
 font-family : 'Vollkorn SC', serif';
 }
 .rowheight{
    height: 500px;
    }
 .awer{
  color: #fff;
  }
  .imgp {
    width: 300px;
    height : 100px;
    }

.footer{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    }