body{
 /*background-color: green;*/
 background: url(../img/wolf.jpg) no-repeat center fixed);
 background-size: cover;
}

.h6{
    font-size:50px;
    }
    .hero{
    color:#fff;
    margin-top: 20%;
    text-align: center;
    latter-spacing: -0.05em;
    line-height:11.2em;
    font-famaily: 'font-family: 'Barlow', sans-serif;'
    }
.green
    background-color:green;
    height:100vh;
   .ima{
        width: 200px;
        height: 100px;
        margin: 20px;

.con{
background-color: #alalal;
height:100hv;}

.grey{
background-color: orange;
height:200hv;}

.gr{
background-color: green;
height:200hv;}

        }